---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for post in collections.posts %}
  <url>
    <loc>{{ post.url | absoluteUrl(config.site) }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}
  <url>
    <loc>{{ (config.site.base + "/") | absoluteUrl(config.site) }}</loc>
    <lastmod>{{ (collections.posts[0] and collections.posts[0].date) ? (collections.posts[0].date | isoDate) : ("now" | isoDate) }}</lastmod>
  </url>
</urlset>
