---
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for post in collections.posts %}
  <url>
    <loc>{{ post.url | absoluteUrl(config.site) }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
  </url>
  {% endfor %}

  {% set latest = collections.posts[0] %}
  <url>
    <loc>{{ (config.site.base + "/") | absoluteUrl(config.site) }}</loc>
    <lastmod>
      {% if latest and latest.date %}
        {{ latest.date | isoDate }}
      {% else %}
        {{ "now" | isoDate }}
      {% endif %}
    </lastmod>
  </url>
</urlset>
