<!-- blog_src/layouts/partials/custom/aff-rotator.html -->
<!-- Amazon affiliate rotator block -->
<div class="aff-rotator-wrap">
  <div
    data-aff-rotator
    data-json="{{ "aff/aff-cards.json" | absURL }}"
    data-img-base="{{ "aff/img/88" | absURL }}"
    data-img-base2x="{{ "aff/img/176" | absURL }}"
    data-mode="random"
    data-count="1"
    data-debug="0"></div>
</div>

<link rel="stylesheet" href="{{ "aff/aff-rotator.css" | absURL }}">
<script defer src="{{ "aff/aff-rotator.js" | absURL }}"></script>
<!-- /Amazon affiliate rotator block -->
